<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		hr{
			width: 100%;
			height: 1px;
			background-color: #dcdde1;
		}
		body{
			background-color: #21181D !important;
			color: white !important;
		}
		a{
			color: white !important;
		}
	</style>
</head>
<body>
	{% include "toolbar.html" %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-6 col-12">
				{% for i in newAlbum%}
				<img src="/media/{{i.Image}}" alt="" style="width: 100%; height: auto;">
				{% endfor %}
			</div>
			<div class="col-xl-3 col-12">
				<div class="row">
					{% for i in randomAlbum%}
					<div class="col-12">
						<p>Buy album {{i.Price}}$</p>
					</div>
					<div class="col-12">
						<img src="/media/{{i.Image}}" alt="" style="width: 100%; text-align: center;">
					</div>
					<div class="col-12">
						<div class="row">
							<div class="col-8">
								{{i.Name}}
							</div>
							<div class="col-4">
								Giỏ hàng
							</div>
						</div>
					</div>
					{% endfor %}
					<hr>
					<div class="col-12">
						{% for i in music%}
						<p><a href="#" title="" onclick="loadMusic(id)" id="{{i.8}}">{{i.1}}</a></p>
						{% endfor %}
					</div>
					<hr>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-12">

		</div>
	</div>
	{% include "footer.html" %}
	<script>
		function loadMusic(id){
			document.getElementById('playMusic').src = "/media/"+id;
			document.getElementById('audio').src = "/media/"+id;
			var audio = document.getElementById('music');
			audio.load();
			audio.play();
			playButton.style.visibility = "hidden";
			pause.style.visibility = "visible";
		}
	</script>
</div>
</body>
</html>